[Unit]
Description=pypit

[Service]
Type=simple
ExecStart=/usr/local/bin/pypit -l
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
